<div id="lightgallery" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/12.08JJabII017.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/12.08JJabII017.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/12.08JJabII153.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/12.08JJabII153.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/12.08JJabII157.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/12.08JJabII157.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/1453899504196.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/1453899504196.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/1453899504347.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/1453899504347.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/1454084399218.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/1454084399218.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/15.08jab.II020.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/15.08jab.II020.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/2014.11sobota255.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/2014.11sobota255.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20150708112051.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150708112051.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150709_130353.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150709_130353.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150711_162214.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150711_162214.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150711_201322.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150711_201322.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20150713143734.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150713143734.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150713_181952.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150713_181952.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150716_182416.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150716_182416.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150722155715.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150722155715.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20150723201611.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150723201611.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150729110541.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150729110541.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150729113837.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150729113837.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20150731123550.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150731123550.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20150922_091546.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20150922_091546.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160119220845.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160119220845.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160119220850.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160119220850.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160119220924.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160119220924.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20160119220930.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160119220930.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160119220957.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160119220957.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160127124101.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160127124101.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160128181640.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160128181640.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20160129162923.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160129162923.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160131180246.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160131180246.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160203144357.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160203144357.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160207_151302.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160207_151302.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/20160207_151828.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160207_151828.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/20160210_204317.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/20160210_204317.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/25.01089.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/25.01089.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/5.12.2015089.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/5.12.2015089.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/DSC0919.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/DSC0919.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/DSC2053.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/DSC2053.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia124.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia124.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia422.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia422.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia720.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia720.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia743.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia743.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia756.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia756.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia804.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia804.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia820.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia820.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia827.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia827.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/gdynia927.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/gdynia927.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG-20150812-WA0029.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG-20150812-WA0029.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG-20150812-WA0039.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG-20150812-WA0039.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0076.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0076.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0081.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0081.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0082.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0082.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0083.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0083.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0085.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0085.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0086.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0086.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0088.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0088.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0089.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0089.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0090.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0090.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0099.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0099.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0100.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0100.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0103.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0103.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0106.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0106.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0107.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0107.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0108.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0108.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0110.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0110.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0112.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0112.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0115.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0115.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0117.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0117.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0126.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0126.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0127.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0127.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG0130.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG0130.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG20160204141802.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG20160204141802.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/IMG6220.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG6220.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/IMG_2101.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/IMG_2101.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/JAB-I068.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/JAB-I068.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/JABLONEC2011-I018.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/JABLONEC2011-I018.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/Jestedfot.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/Jestedfot.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/KonferencjaGTT26.05.2011018.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/KonferencjaGTT26.05.2011018.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/MiniTenis20`12004.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/MiniTenis20`12004.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/Obraz010.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/Obraz010.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/ognis.igolf050.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/ognis.igolf050.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/ognis.igolf055.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/ognis.igolf055.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/P1020771.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/P1020771.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/P1040395.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/P1040395.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/Przechwytywanie4.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/Przechwytywanie4.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM0854.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM0854.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM1298.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM1298.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM2000.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM2000.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/SAM_0854.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM_0854.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM_0870.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM_0870.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM_6867.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM_6867.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/SAM_7803.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM_7803.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/SAM_7857.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/SAM_7857.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/sylwester12i13003.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/sylwester12i13003.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/sylwester12i13288.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/sylwester12i13288.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/telefon27187.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/telefon27187.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/ten.8i10lat054.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/ten.8i10lat054.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/VIMiniTenis2015041.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/VIMiniTenis2015041.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/zak.se.tenis049.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/zak.se.tenis049.jpg" width="240" height="180">
          </a>
        </div>
        <div class="span3">
          <a href="assets/img/gallery/big/zak.se.tenis064.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/zak.se.tenis064.jpg" width="240" height="180">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="assets/img/gallery/big/zak.se.tenis065.jpg">
            <img class="lazy" data-original="assets/img/gallery/small/zak.se.tenis065.jpg" width="240" height="180">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-indicators-wrapper">
    <ol class="carousel-indicators">
      <li data-slide-to="0" class="active"></li>
      <li data-slide-to="1" class=""></li>
      <li data-slide-to="2" class=""></li>
      <li data-slide-to="3" class=""></li>
      <li data-slide-to="4" class=""></li>
      <li data-slide-to="5" class=""></li>
      <li data-slide-to="6" class=""></li>
      <li data-slide-to="7" class=""></li>
      <li data-slide-to="8" class=""></li>
    </ol>
  </div>
</div>