<p class="modal-content"><b>Tenis X-Press</b></p>
<p class="modal-content">To nowoczesny program nauki gry w tenisa dla dorosłych propagowany na całym świecie przez ITF. Tenis X-Press udowadnia, że nauka podstaw tenisa może być łatwa i przyjemna. Kurs trwa 6 tygodni i składa się z 6 półtoragodzinnych lekcji (9 godzin). Prowadzony jest przez doświadczonych trenerów klubowych. Każdy gracz już na pierwszej lekcji serwuje, gra wymiany i liczy punkty. Na zajęciach używane są piłki pomarańczowe (50% wolniejsze niż piłki żółte) oraz zielone (25% wolniejsze), dlatego trening jest łatwiejszy, szybszy i dużo przyjemniejszy. Program został skonstruowany tak, aby mógł wziąć w nim udział każdy chętny, bez względu na wiek.</p>
        <p class="modal-content">Uczestnicy na końcu kursu: </p>
<ul>
  <li>posiadają podstawowe umiejętności techniczne w zakresie gry z głębi kortu, serwisu i woleja,</li>
  <li>czują się pewnie grając piłką zieloną na punkty na pełnym korcie,</li>
  <li>znają podstawowe elementy taktyki,</li>
  <li>znają przepisy gry.</li>
</ul>
<p class="modal-content">
  Ważne, aby osoby biorące udział w kursie grały samodzielnie pomiędzy lekcjami, ponieważ wtedy zyskują większą pewność siebie.
</p>
<p class="modal-content"><b>Cardio tenis</b></p>
<p class="modal-content">Zajęcia, trwające łącznie około 60 minut, są prowadzone w trzech zasadniczych fazach, które ułatwiają osiągnąć zamierzone cele treningowe. Cardio tenis posiada elementy ćwiczeń aerobowych, czyli takich, które ułatwiają pozbycie się zbędnych kilogramów opierając się na wykorzystaniu dużej ilości tlenu. Dzięki tak intensywnemu wysiłkowi i osiąganiu tak zwanej strefy cardio nie tylko pozbywamy się nadmiaru tkany tłuszczowej, ale również powiększamy wydolność układu sercowo-płucnego.</p>

<p class="modal-content">Fazy treningu:</p>
<ul>
  <li>Pierwszą z nich jest intensywna rozgrzewka trwająca od 5 do 10 minut. Rozgrzewa się wtedy odpowiednie partie mięśni, przygotowujące do dalszych zajęć.</li>
  <li>Na drugą fazę składa się centralny punkt ćwiczeń, czyli trwający od 30 do 50 minut właściwy trening. Podczas tej części uczestnicy zajęć wykonują krótkie, intensywne ćwiczenia, które utrzymują wysokie tempo bicia serca (130 – 170 uderzeń na minutę). Wysokie tempo nawiązuje do specyfiki i celu przeprowadzania ćwiczeń. </li>
  <li>Ostatnią fazą treningu jest odpoczynek, trwający od 5 do 10 minut, w której organizmu musi odpocząć i wrócić do normalnego stanu.</li>
</ul>