<p class="modal-content"> Organizujemy obozy tenisowe oraz narciarsko-snowboardowe.</p>
<ul>
  <li>opiekunami na wszystkich obozach są trenerzy z wieloletnim stażem pracy i większym dlatego maja państwo gwarancję fachowej opieki nad waszymi dziećmi,</li>
  <li>jeździmy na sprawdzone obozy i kolonie gdzie mamy zagwarantowaną dobrą bazę noclegową i żywieniową,</li>
  <li>wszystkie nasze obozy posiadają stosowne zezwolenia i ubezpieczenia dzieci.</li>
</ul>

<p class="modal-content">Organizacja imprez sportowo-rekreacyjnych.</p>