<p class="modal-content">Nowoczesny całoroczny obiekt tenisowy. Dwie hale łukowe o konstrukcji drewnianej przykrywające dwa korty o nawierzchni ze sztucznej trawy najwyższej jakości - atest ITF. Hale wyposażone są w otwierane boki, system chłodzenia latem, system ogrzewania zimą.</p>

<p class="modal-content">Odkryty kort ziemny dostępny w sezonie letnim.</p>

<div class="well" style="margin-top: 40px;">
  <p class="modal-content"><b>Adres</b>
  <p class="modal-content"><i class="fa fa-map-marker"></i>Piotra Skargi 5, teren PWSZ, Głogów, 67-200</p>
  <p class="modal-content"><b>Godziny otwarcia</b></p>
  <p class="modal-content"><i class="fa fa-calendar"></i>Poniedziałek - Niedziela</p>
  <p class="modal-content"><i class="fa fa-clock-o"></i>8:00 - 22:00</p>
  <p class="modal-content"><b>Kontakt</b>
  <p class="modal-content">
    <i class="fa fa-phone"></i>
    <a href="tel:+48691937931">(0048) 691 937 931</a>
  </p>
  <p class="modal-content">
    <i class="fa fa-envelope"></i>
    <a class="mail" href="mailto:kontakt@tenniskulclub.pl">kontakt@tenniskulclub.pl</a>
  </p>
</div>