<div style="float: right;">
  <img src="assets/img/tenis_10_logo.png" />
</div>

<p class="modal-content">Stosujemy nowoczesne metody nauki gry w tenisa dzieci wg programu Tenis 10 (promowanym przez Agnieszkę i Urszulę Radwańską). To element ogólnoświatowego programu „Play and Stay” propagowanego przez ITF. Wielkość kortu, rodzaj piłek i sposób przeprowadzenia treningu dostosowujemy do wieku dziecka. Lżejsze i wolniejsze piłki oraz pomniejszona wielkość kortu ułatwiają naukę i granie sprawia dziecku większą przyjemność.</p>

<p class="modal-content"><span><img src="assets/img/ball_blue.png" class="ball" /></span><b>Poziom niebieski</b><br>
Początek treningów 4-6 lat. Piłki z gąbki, kort pomniejszony. Rozwój wszechstronnej sprawności fizycznej poprzez gry i zabawy. Nauka podstawowych umiejętności taktycznych (utrzymanie piłki w korcie)  i technicznych tzw. czucie piłki i jej trafianie przed sobą. </p>

<p class="modal-content"><span><img src="assets/img/ball_red.png" class="ball" /></span><b>Poziom czerwony</b><br>
Do 7-8 lat. Piłki 75% wolniejsze od piłki żółtej, kort pomniejszony. Dalszy rozwój umiejętności taktycznych oraz technicznych (prawidłowe chwyty i początki przyszłych pełnych uderzeń). Wykonywanie ćwiczeń zarówno prawą, jak i lewą ręką.</p>

<p class="modal-content"><span><img src="assets/img/ball_orange.png" class="ball" /></span><b>Poziom pomarańczowy</b><br>
Do 9 lat. Piłki 50% wolniejsze od piłki żółtej, kort pełnowymiarowy. Młodzi tenisiści stosują różnorodne sposoby rozegrania akcji we wszystkich sytuacjach meczowych, a ich gra przypomina dorosły tenis.  Jest to poziom, na którym rozpoczyna się kształtowanie docelowej (ostatecznej) techniki uderzeń.</p>

<p class="modal-content"><span><img src="assets/img/ball_green.png" class="ball" /></span><b>Poziom zielony</b><br>Do 10 lat. Piłki 25% wolniejsze od piłki żółtej, kort pełnowymiarowy. Utrwalenie prawidłowej techniki, praca nad bardziej zaawansowanymi uderzeniami oraz wszechstronnym stylem gry. Zawodnicy potrafią stosować podstawowe rozwiązania taktyczne podczas meczu.</p>

<p class="modal-content"><span><img src="assets/img/ball_yellow.png" class="ball" /></span><b>Poziom żółty</b><br>Powyżej 10 lat. Piłka żółta, kort pełnowymiarowy. Zawodnik jest gotowy do treningu i rywalizacji normalną piłką na dużym korcie.</p>