<p class="modal-content"><b>Wypożyczalnia i serwis sprzętu tenisowego.</b></p>
<ul>
  <li>naciąganie rakiet wraz z własnym naciągiem lub bez</li>
  <li>wymiana owijek wierzchnich,</li>
  <li>wymiana owijek bazowych,</li>
  <li>indywidualny dobór i zakup rakiet na zamówienie,</li>
  <li>wypożyczanie rakiet.</li>
</ul>

<p class="modal-content"><b>Wypożyczalnia i serwis sprzętu narciarskiego.</b></p>
<ul>
  <li>profesjonalne, ręczne ostrzenie krawędzi,</li>
  <li>smarowanie nart na gorąco,</li>
  <li>zalewanie ubytków,</li>
  <li>przygotowanie nowych nart do jazdy,</li>
  <li>"wygrzewanie" ślizgów,</li>
  <li>posezonową konserwację nart,</li>
  <li>naprawy (np. naprawa rozwarstwionej narty/deski).</li>
</ul>
<p class="modal-content">Wszystkie usługi dotyczą zarówno nart, jak i desek snowboardowych.</p>

<p class="modal-content">Nasz serws działa praktycznie przez cały sezon. Zapraszamy do naszego serwisu narciarskiego nie tylko tuż przed wypadem na stoki, ale także np w czerwcu. Oprócz oczywistych zabiegów, tj. zwykłe serwisowanie nart (ręczne ostrzenie krawędzi, smarowanie ślizgów), bowiem również posezonowa konserwacja jest ważna, czyli odpowiednie zabezpieczenie nart oraz wiązań na sezon letni.</p>
<p class="modal-content">Oferujemy także profesjonalne przygotowanie nart do zawodów z użyciem najlepszego sprzętu.</p>

<div class="well" style="margin-top: 40px;">
  <p class="modal-content"><b>Adres</b>
  <p class="modal-content"><i class="fa fa-map-marker"></i>Adres serwisu, Głogów, 67-200</p>
  <p class="modal-content"><b>Godziny otwarcia serwisu narciarskego</b></p>
  <p class="modal-content"><i class="fa fa-calendar"></i>Poniedziałek - Piątek</p>
  <p class="modal-content"><i class="fa fa-clock-o"></i>17:00 - 20:00</p>
  <p class="modal-content">
    <i class="fa fa-phone"></i>
    <a href="tel:+48889710820">(0048) 889 710 820</a>
  </p>
  <p class="modal-content"><b>Godziny otwarcia serwisu tenisowego</b></p>
  <p class="modal-content"><i class="fa fa-calendar"></i>Poniedziałek - Piątek</p>
  <p class="modal-content"><i class="fa fa-clock-o"></i>10:00 - 18:00</p>
  <p class="modal-content">
    <i class="fa fa-phone"></i>
    <a href="tel:+48888882062">(0048) 888 882 062</a>
  </p>
</div>