<p class="modal-content"><b>Oferujemy:</b>
  <ul>
    <li> Wszystkie poziomy zaawansowania (grupy dobierane są pod względem umiejętności graczy). </li>
    <li>Dogodne terminy, również w weekendy (zajęcia odbywają się od godz. 15.00 do 20.00 od poniedziałku do piątku, oraz od godz. 9.00 w weekendy). </li>
    <li>Wykwalifikowaną kadrę trenerów i instruktorów, którzy będą umieli jednocześnie zaangażować w zajęcia całą grupę jak i zwrócić uwagę na dobre i słabsze strony gry każdego z uczestników. Do Państwa dyspozycji mamy doświadczonych trenerów specjalizujących się w treningu grup rekreacyjnych. </li>
    <li>Niewielkie grupy (4-6 osobowe). </li>
    <li>Zajęcia raz lub dwa razy w tygodniu po godzinie zegarowej (zalecana przez nas częstotliwość treningu to dwa razy w tygodniu). </li>
    <li>Regularne treningi przez cały sezon (zajęcia trwają od września do czerwca). </li>
    <li>Na życzenie możliwość utworzenia „grupy zamkniętej”. </li>
    <li>Możliwość kontynuacji szkolenia w sezonie wakacyjnym na jednym z letnich obozów tenisowych organizowanych przez nasz Klub.</li>
  </ul>
</p>